<div ng-controller="CustomerEdit">
    <h1 ng-if="entity != null && entity.CustomerID > 0">{{entity.Name}}</h1>
    <h1 ng-if="entity == null || entity.CustomerID == 0">Add a Customer</h1>
    <form ng-submit="Submit()">
        <div class="item">
            <label for="Name">Name</label>
            <div class="field">
                <input type="text" ng-model="entity.Name" required />
            </div>
        </div>
        <div class="item">
            <label for="Identifier">URL Identifier</label>
            <div class="field">
                <input type="text" ng-model="entity.Identifier" required />
            </div>
        </div>
        <div class="item">
            <div class="field">
                <input type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>