<div ng-controller="CustomerEdit">
    <h1 ng-if="customer != null && customer.CustomerID > 0">{{customer.Name}}</h1>
    <h1 ng-if="customer == null || customer.CustomerID == 0">Add a Customer</h1>
    <ul ng-if="customer != null && customer.CustomerID > 0" class="nav navbar-nav">
        <li>
            <a ng-click="Open('Basic')">Basic</a>
        </li>
        <li>
            <a ng-click="Open('Prefs')">Prefs</a>
        </li>
        <li>
            <a ng-click="Open('Admins')">Admins</a>
        </li>
    </ul>
    <div ui-view="secondaryContainer">
    </div>
</div>