<div ng-controller="CommonHeader" class="navbar navbar-inverse navbar-fixed-top" id="header">
    <div ng-class="{'hide': current == 'SignIn'}" class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="ToggleNav()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" ng-class="{'collapse': showNav == false}">
            <ul class="nav navbar-nav">
                <li ng-class="{'current': current == 'Home'}"><a ng-click="LoadState('Home')">RegMe - Admin</a></li>
                <li ng-if="user.Type == 'Admin'" ng-class="{'current': current == 'Customer'}"><a ng-click="LoadState('Customers')">Customers</a></li>
            </ul>
        </div>
    </div>
</div>